.header {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.header img, h1 {
    padding: 1rem;
}

@media (max-width: 1000px) {
    .header {
        width: 80%;
    }
}

